<launch>
<include file="$(find inferno_bot)/launch/map_provider.launch" />


   <!--Run Amcl node -->
   <node pkg="amcl" type="amcl" name="amcl">
   
        <remap from ="scan" to="/rrbot/laser/scan"/>
        <remap from ="cmd_vel" to="/cmd_vel"/>
        <remap from ="amcl_pose" to="/robot/amcl_pose"/>
  
	<param name="odom_frame_id" value="odom"/>
	<param name="odom_model_type" value="diff-corrected"/>
        <param name="base_frame_id" value="base_link"/>
        <param name="update_min_d" value="0.1"/>
        <param name="update_min_a" value="0.2"/>
        <param name="min_particles" value="500"/>
   </node>

</launch>
