<launch>
  <!--- Run AMCL -->
  <include file="$(find inferno_bot)/launch/amcl.launch" />
  <remap from="cmd_vel" to="/cmd_vel" />

  <!-- Run move_base -->
<node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
<rosparam file="$(find inferno_bot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
<rosparam file="$(find inferno_bot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />

<rosparam file="$(find inferno_bot)/config/local_costmap_params.yaml" command="load" />
<rosparam file="$(find inferno_bot)/config/global_costmap_params.yaml" command="load" />
<rosparam file="$(find inferno_bot)/config/base_local_planner_params.yaml" command="load" />
<rosparam file="$(find inferno_bot)/config/move_base_params.yaml" command="load" />

<param name="base_global_planner" type="string" value="navfn/NavfnROS" />
<param name="controller_frequency" type="double" value="6.0" />

<remap from="odom" to="odometry/filtered" />
</node>

</launch>
